{% extends "base" %}

{% block content %}
<div id="admin-console">
  <p>
    Welcome to the administrator console.
  </p>
  <ul>
    <li>
        <p><a href="/admin/users">Manage Users</a></p>
    </li>
  </ul>
</div>
{% endblock %}