<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{{ title }} - notgull.net</title>
      <meta charset="UTF-8" />
      <meta name="description" content="Bringing awesome back to the internet" />
      <meta name="keywords" content="creative,scp,notgull" />
      <meta name="author" content="John Notgull" />
      <meta property="og:title" content="Notgull's Personal Website" />
      <meta property="og:image" content="https://notgull.s3.us-west-1.amazonaws.com/images/header.jpg" />
      <script type="text/javascript">
        {% block init_js %}
          'use strict';

          window.constants = {};

          // set up some global variables
          window.constants.auth_url = "{{ auth_url }}";
          window.constants.api_url = "{{ api_url }}";
          window.constants.web_url = "{{ web_url }}";
          window.constants.static_url = "{{ static_url }}";

          {% if csrf_token %}
            window.constants.csrf_token = "{{ csrf_token }}";
            window.constants.csrf_cookie = "{{ csrf_cookie }}"
          {% endif %}

          {% if user_id %}
            window.constants.user_id = {{ user_id }};
          {% endif %}

          window.constants.user_perms = {{ user_perms }};
        {% endblock %}
      </script>
    
      {% for js_package in ["axios","preact","notgull"] %}
        <script
          type="text/javascript"
          src="{{ static_url }}/js/{{ js_package }}.js"></script>
      {% endfor %}

      <style type="text/css">
        @import url("{{ static_url }}/css/style.css");
      </style>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div id="header">
      <h1><a href="{{ web_url }}">notgull.net</a></h1>
      <h2>The world's #1 source of notgull</h2>
      <div id="login" style="float: right"></div>
    </div>
    <div id="navbar">
      <ul>
        <li><a href="{{ web_url }}">Home</a></li>
        <li><a href="{{ web_url }}/blog">Blog</a></li>
        <li><a href="{{ web_url }}/about_me">About Me</a></li>
        <li><a href="{{ web_url }}/contact_me">Contact Me</a></li>
      </ul>
    </div>
    <div id="content-wrapper">
      <div id="content-header">
        {% block header %}
          <h1>{{ title }}</h1>
        {% endblock %}
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
