{% extends "base" %}

{% block init_js %}
{{ super() }}

window.constants.cur_blogpost_id = {{ blogpost_id }};
{% endblock %}

{% block content %}
<p>
    You are about to delete the blogpost: "{{ blogpost_name }}". Are you sure
    that you want to continue?
</p>

<div id="blogpost-delete">
    <!-- deliberately left blank -->
</div>
{% endblock %}