{% extends "base" %}

{% block header %}
{{ super() }}
<p id="author">By {{ author_name }}</p>
<p id="date">Posted On {{ created_at }}</p>
{% endblock %}

{% block init_js %}
{{ super() }}

window.constants.cur_blogpost_id = {{ blogpost_id }};
{% endblock %}

{% block content %}
<div id="blogcontent">
{{ body }}
</div>

<div id="taglist">
  <ul>
    {% for tag in taglist %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
</div>

<hr />

<div>
  <div id="edit_blogpost"></div>
  <div id="delete_blogpost"></div>
</div>

<p>
Unless otherwise stated, the text of this article is licensed under the 
<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>
license. Any portion of this article, save for snippets of code (which may be licensed under
different, code-oriented licenses) may be freely used elsewhere as long as a
link to the original source is provided.
</p>
{% endblock %}