{% extends "base" %}

{% block content %}
<p>
  Welcome to notgull.net, my personal site for my various internet activities.
</p>

<div id="frontpage">
  <!-- deliberately left blank -->
</div>
{% endblock %}